* {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 1fr;
    grid-template-areas:
        ". sidebar content ."
}

.header {
    grid-area: header;
}
.space {
    grid-area: space;
}


.sidebar {
    grid-area: sidebar;
}

.box {
    padding: 5px;
}

.content {
    grid-area: content;
    justify-content: start;
}